<app-navbar></app-navbar>
<section style="background-image: url('../../assets/images/h5.jpg'); background-size: cover;  background-size: cover;
background-position: center;
height: 825px; /* Adjust height as needed */
display: flex;
align-items: center;
justify-content: center;">
<div class="login-container" [ngClass]="formStatus" >
  <div class="login-box">
    <h3 class="login-heading">Log In <i class="fas fa-sign-in-alt"></i></h3>
    <form [formGroup]="reactiveForm" (ngSumit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="Email" class="form-control" formControlName="email" required />
        <div *ngIf="reactiveForm.get('email').hasError('email') && reactiveForm.get('email').touched">
          <small>Invalid email format</small>
        </div>
        <div *ngIf="reactiveForm.get('email').hasError('required') && reactiveForm.get('email').touched">
          <small>Email is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password"   required/>
        <div *ngIf="reactiveForm.get('password').hasError('required') && reactiveForm.get('password').touched">
          <small>Password is required</small>
        </div>
      </div>
      
      
      <button type="button" (click)="onSubmit()" class="btn btn-primary login-button">
        <i class="fas fa-sign-in-alt"></i>Login
      </button>
      
    </form>
    <p class="signup-link">Don't have an account? <a routerLink="/Sign-up"><i class="fas fa-user-plus"></i>Signup</a> </p>
    <p class="signup-link">Forgot Password? <a (click)="forgotPassword()"><i class="fas fa-question-circle"></i>Click here</a> </p>
  </div>
</div>
</section>
