<div class="DeliveredContainer">

    <h1 class="deliveredTitle" mat-dialog-title>Sorry for the inconvenience</h1>
    <div class="deliveredContent" mat-dialog-content>
      <p>All delivery agents are busy right now. Please try again after some time. We apologize for this inconvenience.</p>
      <p>We have refunded the amount back to the source that you have provided. </p>
    </div>
    <div class="deliveredAction" mat-dialog-actions>
      <button class="deliveredNo" mat-button [mat-dialog-close]="true" >OK</button>
    </div>
</div>
