<!-- <div>
  <nav class="Dnavbar">
    <h1 [routerLink]="['/deliveryCurrent']" class="DBar">
      ThinkFood
    </h1>
  </nav>
</div> -->

<nav class="navbar bg-body-tertiary">
  <div class="main-div">
    <div>
      <h1 [routerLink]="['/deliveryCurrent']">Think Food</h1>
    </div>
    <div >
      <ul class="ul-div">
        <li>
          <button class="btn logout-button" type="button" (click)="logout()">Log Out
            <i class="fas fa-sign-out-alt"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
