<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="delivery-home.component.scss"> <!-- Link to your stylesheet -->
  <title>Your Page Title</title>
</head>
<body>
  <div class="page-container">
    <div class="container">
      <app-navbar-delivery></app-navbar-delivery>   
      <div class="content">
        <div><app-sidebar-delivery></app-sidebar-delivery></div>
        <div class="homeMainbar"><app-mainbar></app-mainbar></div>
      </div>
    </div>
  </div>
</body>
</html>
