<div class="Dsidebar">
    <ul>
    </ul>
    <div class ="Dbody">
      <ul class="deliveryItem">
        <li class ="deliveryHistory">
          <button class="HistoryButton"  (click)="navigateToDeliveryHistory()">
            Completed Orders
          </button>
        </li>
        <li class ="deliveryCurrent">
          <button class ="CurrentButton" (click)="navigateToDeliveryCurrent()">
            Current Order
          </button>
        </li>
        <li class ="deliveryDelete">
          <button class ="DeleteButton" (click)="softDelete()">
            Delete Account
          </button>
        </li>
      </ul>
    </div>
  </div>
