 <!-- <div class="change-password-form">
    <span class="close-icon" (click)="closeForm()">&times;</span>
    <h2>Change Password</h2>
    <form class="ChangePasswordForm" [formGroup]="reactiveform" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" formControlName="currentPassword" required  >
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" required >
      </div>

      <div class="form-group">
        <label for="confirmationPassword">Confirm Password</label>
        <input type="password" id="confirmationPassword     " name="confirmationPassword" formControlName="confirmationPassword" required >

      </div>
      <button  type="submit">Submit</button>
    </form>

 </div>  -->
  <div class="change-password-form">
    <h2>Change Password</h2>
    <form [formGroup]="reactiveform" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" formControlName="currentPassword">
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" formControlName="newPassword">
        <div *ngIf="reactiveform.get('newPassword').hasError('minlength') && reactiveform.get('newPassword').touched">
          <small> Password should be at least 5 characters long</small>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmationPassword">Confirm Password</label>
        <input type="password" id="confirmationPassword" name="confirmationPassword" formControlName="confirmationPassword">
        <div *ngIf="reactiveform.get('confirmationPassword').hasError('required') && reactiveform.get('confirmationPassword').touched">
       <small> Confirmation Password is required</small>
        </div>
        <div *ngIf="reactiveform.get('confirmationPassword').hasError('minlength') && reactiveform.get('confirmationPassword').touched">
          <small> Password should be at least 5 characters long</small>
        </div>
        <div *ngIf="reactiveform.hasError('passwordMismatch') && reactiveform.get('confirmationPassword').touched">
        <small> Passwords do not match</small>
        </div>
      </div>
      <button type="submit">Submit</button>
      <button type="button" (click)="closeForm()">Cancel</button>
    </form>
  </div>
